html {
  padding: 10px;
  font-family: 'Lobster', cursive;
  font-family: 'Arvo', serif;
  font-family: 'Cardo', serif;
  font: 16px 'Cardo', "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background: #eeeeee; }

body {
  display: flex;
  flex-direction: column; }

h2 {
  font-weight: bolder;
  font-size: 2rem; }

ul {
  list-style-type: none;
  padding-left: 10px; }

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center; }

.flexTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font: bold 30px/30px Georgia, serif; }

.paragraphContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  padding: 40px;
  clear: both;
  box-shadow: 10px 10px 5px #808080;
  border-radius: 10px;
  margin: 1rem; }

.button {
  border: none;
  color: white;
  padding: .8rem 1.8rem;
  text-align: center;
  font-size: 16px;
  border-radius: 24px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
  justify-self: flex-end;
  align-self: flex-end; }

.loginButton,
.logout {
  background-color: #2F80ED; }
  .loginButton:hover,
  .logout:hover {
    background-color: #0650B6; }

.loginError {
  color: red;
  font-size: .9rem;
  margin: .5rem; }

.container {
  max-width: 400px;
  background-color: #eeeeee;
  border: 1px solid black; }

.header {
  text-align: center; }

.pantryList {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  .pantryList .pantryListBox {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #808080;
    display: flex;
    width: 80vh;
    background: rgba(202, 209, 240, 0.767);
    margin: auto;
    flex-direction: column; }
    .pantryList .pantryListBox .paragraphContent {
      box-shadow: none;
      font-size: 1.5rem; }
    .pantryList .pantryListBox .titleItems {
      margin: auto; }
    .pantryList .pantryListBox h1 {
      margin: auto; }
  .pantryList .itemsListDiv {
    align-items: flex-start; }
  .pantryList .itemsList {
    cursor: pointer; }
  .pantryList .isChecked {
    position: relative;
    display: table;
    color: grey; }
  .pantryList .isChecked::before {
    content: '';
    border-bottom: 2px solid black;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    pointer-events: none; }
  .pantryList .button {
    background: #725DF2; }
    .pantryList .button:hover {
      background: #3417EA; }
  .pantryList .deleteButton {
    height: 1rem;
    width: 1rem; }
  .pantryList .editButton {
    height: 1rem;
    width: 1rem; }

.titleItems .button {
  padding: .5rem 1.8rem; }

.foodItemModal .formData input[type=text],
.foodItemModal .formData input[type=password],
.foodItemModal select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.foodItemModal span {
  align-self: left; }

/* The Modal (background) */
/* Modal Content */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #808080;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: calc(100vh - 150px);
  overflow-y: auto; }
  .modal-content .formData input[type=text],
  .modal-content .formData input[type=password],
  .modal-content select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .modal-content span {
    align-self: left; }
  .modal-content .flexedContent {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .modal-content #registerHereButton {
    text-decoration-line: underline; }
  .modal-content .submitButton {
    background: #1DECBE;
    float: none;
    display: block; }
    .modal-content .submitButton:hover {
      background: #00B38B; }

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer; }
  .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2; }
  .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #3417EA;
    border-top-style: none;
    border-right-style: none; }
  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer; }

/* For Mobile Screens */
@media only screen and (max-width: 500px) {
  body {
    font-size: 24px; }
  .modal-content {
    width: 85%; }
  .modal-content * {
    margin: 2px; }
  h2 {
    padding-left: 5rem; } }

.hidden {
  display: none !important; }
